/*===============================
Nuetral colors for use across all themes
===============================*/

/* Canvas Colors */
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$canvas-2: rgba(241, 244, 248, 1);
$canvas-3: rgba(59, 68, 80, 1);

/* Font Colors */
$font-color: rgba(136, 149, 167, 1);
$font-dark: rgba(44, 53, 64, 1);
$selected-font-color: $white;
$placeholder: rgba(137, 150, 166, 1);

/* Form */
$inputBg: rgba(231, 236, 242, 1);
