/*===============================
App Themes: uncomment a single theme section
to use that theme.
===============================*/

/* Theme Colors: Default
$primary: rgba(251, 70, 101, 1);
$canvas-1: rgba(55, 40, 81, 1);
$canvas-mix: $primary;
*/

/* Theme Colors: Green and Yellow
$primary: rgba(255, 193, 7, 1);
$canvas-1: rgba(76, 175, 80, 1);
$canvas-mix: rgba(226, 251, 21, 1);
*/

/* Theme Colors: Blue and Orange */
$primary: rgba(255, 152, 0, 1);
$canvas-1: rgba(25, 118, 210, 1);
$canvas-mix: rgba(12, 253, 193, 1);

/* Theme Colors: Aviture
$primary: rgba(247, 28, 59, 1);
$canvas-1: rgba(46, 55, 61, 1);
$canvas-mix: rgba(63, 98, 122, 1);
*/

/* Theme Colors: Deep Aqua
$primary: rgba(43, 194, 213, 1);
$canvas-1: rgba(4, 45, 60, 1);
$canvas-mix: rgba(17, 149, 166, 1);
*/

/* Theme Colors: Mute Dark blue and orange
$primary: rgba(254, 119, 37, 1);
$canvas-1: rgba(49, 63, 80, 1);
$canvas-mix: rgba(49, 63, 80, 1);
*/

/* Theme Colors: Mute Dark blue and bright blue
$primary: rgba(55, 176, 230, 1);
$canvas-1: rgba(27, 49, 73, 1);
$canvas-mix: rgba(40, 140, 203, 1);
*/
